* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}



.logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: rgb(229, 236, 236);
    margin-right: 70%;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #232323;
}
h2 {
    margin: 40px;
    color: rgb(149, 155, 155);
    
   
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}   .modal-content {
    background-color: #1c1c1c; /* Cor de fundo da modal */
    color: #ccc; /* Cor do texto da modal */
}
#carouselExampleIndicators {
    max-width: 1300px; /* Defina a largura máxima desejada para o carrossel */
    margin: auto;
}
.carousel-inner img {
    max-width: 100%; /* Define a largura máxima das imagens como 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
